/* styles.css */

body{
background-color:rgb(217, 234, 209);
color:rgb(182, 129, 14);
font-family: "IBM Plex Serif", serif;
margin: 0;
padding: 40px 20px;
}

article {
max-width: 760px;
margin:0 auto;
background-color: rgb(244, 252, 237);
padding: 40px;
border-radius: 20px;
box-shadow: 0 18px 58px rgba(170, 166, 149, 0.8);
}

p{
color: rgba(163, 107, 10, 0.82);
font-size: 1.05rem;
line-height: 1.89;
}

h1, h2, h3 {
color: rgb(171, 104, 22);
font-family: "IBM Plex Serif", serif;
border-bottom: 3px solid rgb(189, 172, 125);
padding-top: 10px;
padding-bottom: 10px;
}

h1{
font-size: 2.22rem;
line-height: 1.12;
margin-bottom: 22px;
}

h2 {
margin-top: 41px;

}

h3 {
margin-top: 21px;
color: rgb(170, 147, 65);

}

#title {
display: inline-block;
background-color:rgb(227, 213, 168);
color: rgb(252, 255, 249);
font-weight: 700;
font-size: .87em;
letter-spacing: 0.1em;
text-transform: uppercase;
padding: 9px 15px;
border-radius: 999px;
margin-bottom: 23px;
}

.NOTE {
background-color:rgb(235, 226, 210) ;
color: rgb(146, 142, 124);
border: 2px solid burlywood;
border-left: 5px solid rgb(169, 143, 83);
padding: 16px;
margin-top: 45px;
margin-bottom: 10px;
border-radius: 7px;
clear: both;
}

.NOTE strong {
    color: rgba(103, 89, 71, .49);
}

h1 + p {
font-size: 1.24rem;
font-weight: 777;
}

.Cat {
width: 300px;
height:auto;
float: right;
margin-left: 25px;
margin-bottom: 15px;
border-radius: 14px;
box-shadow: 0 11px 31px rgb(235, 226, 210);
transition: transform 0.2s ease;
}

.Cat:hover {
    transform: rotate(-2deg) scale(1.05);
}